@using Entity.Concrete
@model List<Blog>
@{
	ViewData["Title"] = "BlogListWithWriter";
	Layout = "~/Views/Writer/WriterLayout.cshtml";
}

<h1>Yazarın Blogları</h1>
<table class="table table-bordered">
	<tr>
		<th>#</th>
		<th>Blog Başlığı</th>
		<th>Oluşturulma Tarihi</th>
		<th>Kategori</th>
		<th>Durumu</th>
		<th>Sil</th>
		<th>Güncelle</th>

	</tr>
	@foreach (var b in Model)
	{
		<tr>
			<th>@b.Id</th>
			<td>@b.Title</td>
			<td>@(((DateTime )@b.CreateDate).ToString("dd.MMM.yyyyy"))</td>
			<td>@b.Category.Name</td>
			<td>
				@if (b.Status)
				{
					<span class="badge badge-success">Aktif</span>
				}
				else
				{
					<span class="badge badge-secondary">Pasif</span>
				}
			</td>

			<td><a href="/Blog/DeleteBlog/@b.Id" class="btn btn-danger">Sil</a></td>
			<td><a href="/Blog/UpdateBlog/@b.Id" class="btn btn-warning">Güncelle</a></td>

		</tr>

	}
</table>
<td><a href="/Blog/BlogAdd/" class="btn btn-primary">Yeni Blog Oluştur</a></td>

